<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="cnn" connectionString="Data Source=JORGERODRIGUEZ\SQLEXPRESS;Initial Catalog=Stock;Integrated Security=True"/>
  </connectionStrings>
<appSettings>
  <add key="PathLog" value="C:\Users\JoR\Desktop\" />
</appSettings>
</configuration>